.assets-text {
  background-color: #282C34;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 10px;
  transition: .2s;
  display: inline-block;
  &:hover {
    color: #ff00fb;
    transition: .2s;
  }
}
